<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316860238361-8hotr3u5k85ogp3ama81j6mm6sjts548.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316860238361-8hotr3u5k85ogp3ama81j6mm6sjts548</string>
	<key>API_KEY</key>
	<string>AIzaSyDhFoqSpRPUQhpOfwtQ60Vo9-X7_JgTf3I</string>
	<key>GCM_SENDER_ID</key>
	<string>316860238361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stayBus</string>
	<key>PROJECT_ID</key>
	<string>staybus-7d97c</string>
	<key>STORAGE_BUCKET</key>
	<string>staybus-7d97c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316860238361:ios:ad3eec132e5f570df13888</string>
</dict>
</plist>